/*초기설정*/

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/*레이아웃*/
/*상단메뉴*/
#top_menu {
    width: 900px;
    height: 70px;
    margin: 0 auto;
}

#top_menu p {
    display: inline-block;
    vertical-align: middle;
}

#top_menu p.line {
    width: 1px;
    height: 10px;
    background: #ddd;
    margin: 0 15px;
}

#top_menu p.login {
    margin-left: 330px;
}

#top_menu p a {
    color: #666;
    font-size: 14px;
    letter-spacing: -1px;
    /*자간*/
}

#top_menu p:hover a {
    color: #000;
}


/*로고메뉴*/
#nav {
    width: 900px;
    height: 90px;
    margin: 0 auto;
}


#nav p {
    display: inline-block;
    vertical-align: middle;
}

#nav p a {
    margin-right: 25px;

    color: #333;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
}

#nav p:hover a {
    color: #223c87;
}

/*공통상단메뉴 끝*/




/*커피랩 영역시작*/
#coffeelab_section1 {
    width: 900px;
    height: 494px;
    background: url(../images/coffeelab_bg.jpg);
    margin: 0 auto;
    text-align: center;
}
#coffeelab_section1 p.img {
    padding-top: 50px;
}

#coffeelab_section1 h2 {
    padding-top: 30px;

    color: #fff;
    font-size: 28px;
    letter-spacing: -2px; /*자간*/
}

#coffeelab_section1 p.txt {
    padding-top: 15px;

    color: #fff;
    font-size: 16px;
    letter-spacing: -1px; /*자간*/
}

/*중앙영역상단*/
#coffeelab_section2 {
    width: 900px;
    height: 240px;
    background: #000;
    margin: 0 auto;
    text-align: center;
}

#coffeelab_section2 p.line1 {
    width: 425px;
    height: 2px;
    background: #78593a;

    margin: 0 auto;
    margin-top: 50px;
    display: inline-block;
}

#coffeelab_section2 p.line2 {
    width: 425px;
    height: 2px;
    background: #78593a;

    margin: 0 auto;
    margin-top: 15px;
    display: inline-block;
}

#coffeelab_section2 h2 {
    padding-top: 10px;

    color:#fff;
    font-size: 24px;
    letter-spacing: -2px;
}

#coffeelab_section2 p.txt {
    padding-top: 20px;

    color:#78593a;
    font-size: 14px;
    letter-spacing: -1px;
}

/*중앙영역 하단*/
#coffeelab_section3 {
    width: 900px;
    height: 230px;
    background: #000;
    margin: 0 auto;
    text-align: center;
}

#coffeelab_section3 div {
    width: 230px;
    height: 230px;
    background: #000;

    display: inline-block;
    vertical-align: middle;

    margin: 0 20px;    
}
#coffeelab_section3 div p.img {
    padding-top: 20px;
}

#coffeelab_section3 div p.txt {
    padding-top: 20px;

    color:#78593a;
    font-size: 14px;
    letter-spacing: -1px;
}


/*공통하단 시작*/
/* 하단메뉴 시작 */
#down_menu {
    width: 900px;
    height: 50px;
    line-height: 50px;
    background: #262626;
    border-bottom: 1px solid #464646;
    text-align: center;
    margin: 0 auto;
}

#down_menu p {
    display: inline-block;
    vertical-align: middle;

    margin: 0 20px;
}

#down_menu p a {
    font-size: 13px;
    color: #535353;
    letter-spacing: -1px;
    font-family: '돋움';
    font-weight: bold;
}

#down_menu p:hover a {
    color: #fff;
}

/*카피라이트*/
#copyright {
    width: 900px;
    height: 150px;
    background: #262626;
    margin: 0 auto;
    text-align: center;
}

#copyright p.img {
    margin-left: 150px;
    padding-top: 10px;
}

#copyright p.txt {
    font-size: 12px;
    color: #535353;
    letter-spacing: -1px;
    font-family: '돋움';
    font-weight: bold;

    padding-top: 10px;
}